:root {
  --color: hsl(207, 70%, 57%);
  --color-dark: hsl(207, 70%, 22%);
  --color-light: hsl(207, 70%, 52%);
}

.Projects {
  transform: skew(0deg, -10deg);
  background: var(--color);
  box-shadow: 0 0 0 50vh var(--color); 
  position: relative;
  top: -18rem;
}
.Projects h3 {
  font-size: 4em;
  font-weight: 700;
  color: var(--color-dark);
  margin: 0 1rem;
  position: relative;
  top: -6rem;
}
.Projects h3::before {
  content: '# ';
  color: var(--color-light);
}
.Projects .Project:nth-child(odd) {
  background: var(--color-light);
}
.Projects .Project:nth-child(odd) .Project-photo {
  order: 1;
}
.Projects .Project:nth-child(odd) .Project-details {
  text-align: right;
}
