$main-font: 'Source Sans Pro', sans-serif;
$alt-font: 'Source Code Pro', monospace;

$black: #212121;
$gray: #424242;
$white: #eeffff;
$highlight: #7dcbc4;

$green: #c2e988;
$red: #f27076;
$orange: #f78c6c;
$yellow: #ffcb6b;
$lightblue: #89ddff;
$blue: #82aaff;
$violet: #c792ea;