@import url('//use.typekit.net/gjl7yob.css');

body {
  margin: 0;
  font-family: source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(220, 40%, 12%);
  color: #fff;
}
